<!DOCTYPE html>

<html lang="en" ng-app="myTodoListApp">
	<head>
		<meta charset="UTF-8">
		<meta name=”viewport”, content=”initial-scale=1.0”, content=”width=device-width” >
		<link rel="stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
		<script src="./app/app.js"></script>
		<title>to do list</title>
	</head>
	<body ng-controller="myTodoListController">
		<section id="remaining">
			<div>
				<span class="">I have
					<span class="">{{list.length}}</span>
					tasks to do
				</span>
			</div>
		</section>
		<section id="list">
			<div class="">
				<ul>
					<li ng-repeat="task in list track by $index"
						class="">
						{{task.title}}
						<button ng-if="!task.done"
							type="button"
							ng-click="markTaskAsDone($index)"
							id="markTaskAsDoneButton-$index">
							done
						</button>
					</li>
				</ul>
			</div>
		<section id="add">
			<div>
				<div>add new task to do</div>
				<form class="">
					<input type="text"
						placeholder="what is your new task?"
						ng-model="newTask"/>
					<button type="submit"
						ng-click="addNewTask()"
						id="addNewTaskButton">
						add
					</button>
				</form>
			</div>
		</section>
		<section id="doneList">
			<div class="">
				<div>my done tasks</div>
				<ul>
					<li ng-repeat="task in doneList track by $index">
						{{task.title}}
						<span class=""
							ng-if="task.done">
							v
						</span>
					</li>
				</ul>
			</div>
		</section>
	</body>
</html>
