<div class="todo-list__wrapper">
	<div class="todo-list__wrapper__content">
		<div class="todo-list__wrapper__content__todo-tasks">
			<div class="todo-list__wrapper__content__todo-tasks__title">
				I have <span class="todo-list__wrapper__content__todo-tasks__title__count">{{list.length}}</span> tasks to do
			</div>
			<single-task ng-repeat="task in list track by $index"
				title="task.title"
				index="{{$index}}"
				task-done="task.done"
				mark-task-as-done-callback="markTaskAsDone($index)"
				delete-task-callback="deleteTask($ndex)">
			</single-task>
		</div>
		<div class="todo-list__wrapper__content__form">
			<div class="todo-list__wrapper__content__form__title">
				add new
			</div>
			<form>
				<input class="todo-list__wrapper__content__form__input gradient"
					type="text"
					placeholder="what is your new task?"
					ng-model="newTask"/>
				<button class="todo-list__wrapper__content__form__button"
					type="submit"
					ng-click="addNewTask()"
					id="addNewTaskButton">
					+
				</button>
			</form>
		</div>
		<div class="todo-list__wrapper__content__done-tasks">
			<div class="todo-list__wrapper__content__done-tasks__title">
				my done tasks
			</div>
			<single-task ng-repeat="task in doneList track by $index"
				title="task.title"
				index="{{$index}}"
				task-done="task.done">
			</single-task>
		</div>
	</div>
</div>
